parameters:
  paths:
    - /source/src
  level: 6
  bootstrapFiles:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - /source/src
  excludePaths:
      analyse:
        - source/vendor
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false